starlette==0.25.0
-e git+https://github.com/dasouch/meliodas.git@v1.1.10#egg=meliodas
-e git+https://github.com/dasouch/rocketchat-singleton.git@v1.0.1#egg=rocketchat
-e git+https://github.com/dasouch/hawk.git@1.4.3#egg=hawk
